In [6]:
# import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

# import warnings

# warnings.filterwarnings("ignore")

# pd.set_option("display.max_rows", None)
# pd.set_option("display.max_columns", None)
# pd.set_option("display.width", 1000)
# pd.set_option("display.max_colwidth", 100)

In [7]:
from io import StringIO

text = """id, Animal, Cuteness, Desirable
        1, dog, 8.7, True
        2, cat, 9.5, False
        3, gold fish, 2.3, False"""

df = pd.read_csv(StringIO(text), header=0, index_col=0, sep=",", skipinitialspace=True)
df

       Animal  Cuteness  Desirable
id
1         dog       8.7       True
2         cat       9.5      False
3   gold fish       2.3      False